<div class="container">
  <div class="row">
    <div class="col-xs-12">
        <button class="btn btn-primary"
            (click)="onStartGame()">
            Start
        </button>
        <button class="btn btn-danger"
              (click)="onStopGame()">
            Stop
        </button>
    </div>
  </div>
</div>
