<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
    <hr>   
  <div class="row">
      Binding Game
    </div>
    <hr>
          <app-game-control (eventNumber)="onNewNumber($event)"></app-game-control>
   <hr>
    <div class="row">
      <div class="col-sm-3">
          <app-odd *ngFor="let oddNum of oddNumbers" [curNumber]="oddNum">
                
          </app-odd>
      </div>
      <div class="col-sm-3">
          <app-even *ngFor="let evenNum of evenNumbers" [curNumber]="evenNum">
             
          </app-even>
      </div>
    </div>
</div>